body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}
.CityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
}
button[type = "submit"]{
    padding: 10px 10px;
    font-weight: bold;
    /* font-size: 2rem; */
    background-color: hsl(122, 39%, 50%);
    color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
}

button[type = "submit"]:hover{
    background-color: hsl(122, 39%, 40%);
}

.card{
    /* background: linear-gradient(180deg hsl(210, 39%, 50%), orange); */
    background-color:blanchedalmond;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3,5rem;
    margin-top: 0
}
p{
    font-size: 1.5rem;
}